.fc-content table{
    border-spacing: 5px;
    border-collapse: separate;

}
.fc-header td{
    text-align: left;
}
.fc-header-left{
    width: 100px;
}

.fc-day-header{
    font-size: 20px;
    font-family: 'Microsoft Yahei';
    text-align: center;
    color: #fff;
    height: 29px;
}

.fc-content td{
    border: 2px solid #fff;
    width: 126px;
    height: 126px;
    padding: 0;text-align: left;
}
.fc-content .fc-day-number{
    font-size: 18px;
    padding-left: 12px;
    padding-top: 5px;
}
.fc-event-counts{
    position: absolute;
    left: 0;
    bottom: 0;
}
.fc-content td a:hover{
    text-decoration: none;
}

.fc-content td > div{
    height: 100%;
    background: #fff;
    opacity: .75;
    position: relative;
}
.fc-content .has-event:hover,.fc-content .fc-future:hover{
    border-color:#62b651;
}

.fc-content .has-event:hover > div{

    opacity: 1;
}
.fc-content .fc-state-highlight{
    border-color:#62b651;
}
.fc-content .fc-state-highlight > div{
    opacity: 1;

}

.fc-content td > div > .create-event{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #62b651;
    font-size: 14px;
    font-family: "Microsoft Yahei";
}

.fc-content td > div > .create-event div{
    padding-top: 100px;
    text-align: center;
}

.has-event .create-event{
    display: none;
}

thead .fc-mon{
    background: #eb762d;
}

thead .fc-tue{
    background: #e89d2c;
}

thead .fc-wed{
    background: #d4d02c;
}

thead .fc-thu{
    background: #7ac452;
}

thead .fc-fri{
    background: #709b28;
}

thead .fc-sat{
    background: #209ac8;
}

thead .fc-sun{
    background: #9e50a4;
}