.fc-content table{
    border-spacing: 5px;
    /*table-layout: fixed;*/
    border-collapse: separate;

}
.fc-header td{
    text-align: left;
}
.fc-content td{
    border: 2px solid #fff;
    width: 126px;
    height: 126px;
    padding: 0;text-align: left;
}
.fc-content .fc-day-number{
    font-size: 18px;
    padding-left: 12px;
    padding-top: 5px;
}

.fc-content td a:hover{
    text-decoration: none;
}

.fc-content td > div{
    height: 100%;
    background: #fff;
    opacity: .75;
    position: relative;
}
.fc-content td:hover{
    border-color:#62b651;
}
.fc-content .fc-other-month:hover{
    border-color:#fff ;
}
.fc-content .hasEvent:hover > div{

    opacity: 1;
}

.fc-content td > div > .create-event{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #62b651;
    font-size: 14px;
    font-family: "Microsoft Yahei";
}

.fc-content td > div > .create-event div{
    padding-top: 100px;
    text-align: center;
}
/*.cell-relative td > div{*/
/*position: relative;*/
/*}*/
.hasEvent .create-event{
    display: none;
}